<template>
  <div>
    <div
      class="product"
      v-for="product in productStore.products"
      :key="product.id"
    >
      <h1 v-if="edit.id != product.id">
        {{ product.name }}
        {{ edit.id }}
      </h1>
      <input v-else v-model="editProduct.productName" type="text" />

      <h2 v-if="edit.id != product.id">
        {{ product.price }}
      </h2>
      <input v-else v-model="editProduct.productPrice" type="text" />

      <button v-if="edit.id === null" @click="updateProduct(product)">
        update
      </button>
      <button v-if="edit.id === null" @click="deleteProduct(product.id)">
        delete
      </button>
      <button v-else @click="submit">save</button>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useProductStore } from "./store";

let edit = reactive({
  id: null,
});

let editProduct = reactive({
  productId: null,
  productName: null,
  productPrice: null,
});

const updateProduct = (product: any) => {
  edit.id = product.id;
  product.productId = product.id;
  product.productName = product.name;
  product.productPrice = product.price;
};

async function deleteProduct(productId: number) {
  await $fetch(`/catalog/delete/${productId}`, {
    method: "DELETE",
  });
}

async function submit() {
  await $fetch(`/catalog/update/${editProduct.productId}`, {
    method: "PUT",
    body: {
      id: editProduct.productId,
      name: editProduct.productName,
      price: editProduct.productPrice,
    },
  });
}

const productStore = useProductStore();

onMounted(() => {
  productStore.fetchProducts();
});
</script>

<style scoped lang="scss">
.product {
  border: 1px solid #ccc;
  padding: 0 0 0 20px;
}
</style>
